*.pth
*.h5
.idea/*
Calibrated.zip
*.txt
*.ply
*.xyz
*.pdf
WEEK4-Neural-Networks/DSS_Ch1_Example_Exercise.pdf
WEEK4-Neural-Networks/DSS_Ch2_Example_Exercise.pdf
WEEK4-Neural-Networks/DSS_Ch2_Neural_Network.pdf
WEEK4-Neural-Networks/DSS_Ch3_Convolutional_Neural_Network (1).pdf
WEEK4-Neural-Networks/DSS_Ch3_Convolutional_Neural_Network.pdf
WEEK4-Neural-Networks/DSS_Ch3_Example_Exercise.pdf